<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Creepster&family=Special+Elite&display=swap" rel="stylesheet">
    <title>Cryptid Tracker Database</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>