<%- include('../partials/header.ejs') %> 
<%- include('../partials/nav.ejs') %>

<h1>User Account page</h1>
<%=user.name; %> 
<nav>
    <a href="/">Back to Main Page</a>
</nav>

<%- include('../partials/footer.ejs') %>